---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Template</title>
  </head>
  <body>
    <h1>Template</h1>
  </body>
</html>
